@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
    background-image: url(./assets/LM-Gradient\ background\ -\ Apps\ on\ Galaxy\ Store\ _\ Iphone\ wallpaper\ planets\,\ Iphone\ wallpaper\ violet\,\ Iphone\ wallpaper\ sky.jpg);
}


.bloco{
    background-color: white;
    border-radius: 50px;
    height: 180vw;
    margin-top: 41px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.titulo{
    color: #cccbfb;
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 0.1em 0.1em 0.2em #cccbfb;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.span{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.link{
    margin-left: 10px;
    text-decoration: none;
    color: #cccbfb;
}

 .sociais{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
 }

 .icones{
    display: flex;
    justify-content: center;
   
 }

 .logo{
    color: #cccbfb;
    font-weight: bold;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
 }